@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');
@font-face {
    font-family: 'gilroy-regular';
    src: url('/font/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'gilroy-semiBold';
    src: url('/font/Gilroy-SemiBold.ttf');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
:root{
    --first-color: #FF7A00;
    --font-color: rgba(0, 0, 0, 0.87);
    --input-font: 'SUIT', sans-serif;
}
.user-input{
    height: 51px;
    width: calc(100% - 20px);
    border: none;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding-left: 20px;
    color: var(--font-color);
    font-family: var(--input-font);
}
.user-input:focus{
    outline: 1.2px solid #C5C5C5;
}
.signup-btn,
.login-btn,
.ok-btn{
    margin-top: 122px;
    width: 100%;
    height: 56px;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    border: none;
}
.wrong-info{
    outline: 1.2px solid var(--first-color);
}
.wrong-info:focus{
    outline: 1.2px solid var(--first-color);
}
.confirm-pw-div{
    display: flex;
    align-items: center;
}
.confirm-div{
    margin-top: 8px;
    display: flex;
    row-gap: 8px;
    flex-wrap: wrap;
    column-gap: 8px;
}
.eye-div{
    position: absolute;
    margin-left: 251px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.confirm-btn{
    display: flex;
    height: 21px;
    border-radius: 8px;
    align-items: center;
    background-color: #F4F4F4;
    font-size: 11px;
    padding: 4px 6px 4px 6px;
    column-gap: 3px;
    color: #9E9E9E;
}
.confirm-btn > iconify-icon{
    font-size: 15px;
}
.confirm-detail{
    font-family: var(--input-font);
}
.currect-box{
    background-color: #F4FFE9;
}
.currect{
    color: #66CC00;
}
.input-font{
    font-family: var(--input-font);
}