@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');
@font-face {
    font-family: 'gilroy-regular';
    src: url('/font/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'gilroy-semiBold';
    src: url('/font/Gilroy-SemiBold.ttf');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('/font/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('/font/Gilroy-Medium.ttf');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
:root{
    --orange-10: #FFF2E6;
    --orange-30: #FFD7B3;
    --orange-50: #FFBD80;
    --orange: #FF7A00;
    --orange-dp: #EC6300;
    --orange-DP: #CA5500;
    --brown: #674023;

    --font-color: rgba(0, 0, 0, 0.87);
    --input-font: 'SUIT', sans-serif;
}
.user-input{
    height: 51px;
    width: calc(100% - 20px);
    border: none;
    background-color: #F4F4F4;
    border-radius: 12px;
    padding-left: 20px;
    color: var(--font-color);
    font-family: var(--input-font);
}
.user-input:focus{
    outline: 1.2px solid #C5C5C5;
}
.signup-btn,
.login-btn,
.ok-btn,
.submit-btn{
    margin-top: 122px;
    width: 100%;
    height: 56px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    border: none;
}
.wrong-info{
    outline: 1.2px solid var(--orange);
}
.wrong-info:focus{
    outline: 1.2px solid var(--orange);
}
.confirm-pw-div{
    display: flex;
    align-items: center;
}
.confirm-div{
    margin-top: 8px;
    display: flex;
    row-gap: 8px;
    flex-wrap: wrap;
    column-gap: 8px;
}
.eye-div{
    position: absolute;
    margin-left: 251px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.confirm-btn{
    display: flex;
    height: 21px;
    border-radius: 8px;
    align-items: center;
    background-color: #F4F4F4;
    font-size: 11px;
    padding: 4px 6px 4px 6px;
    column-gap: 3px;
    color: #9E9E9E;
}
.confirm-btn > iconify-icon{
    font-size: 15px;
}
.confirm-detail{
    font-family: var(--input-font);
}
.currect-box{
    background-color: #F4FFE9;
}
.currect{
    color: #66CC00;
}
.input-font{
    font-family: var(--input-font);
}
.product,
.favorites-product,
.farm{
    width: 153px;
    height: 185px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}
.product-img,
.favorites-product-img,
.farm-img{
    width: 100%;
    height: 107px;
    object-fit: cover;
}
.product-detail-div,
.favorites-product-detail-div,
.farm-detail-div{
    padding: 7px 12px 11px 12px;
}
.product-name,
.favorites-product-name,
.farm-name{
    font-family: 'gilroy-semiBold';
    font-size: 15px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 		
    word-break:break-all;
}
.product-farm-name,
.favorites-product-farm-name,
.farm-username{
    font-family: 'gilroy-regular';
    color: #818181;
    font-size: 11px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 		
    word-break:break-all;
}
.product-detail,
.favorites-product-detail{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product-price-div,
.favorites-product-price-div{
    display: flex;
    column-gap: 4px;
    align-items: center;
}
.product-price,
.favorites-product-price{
    font-family: 'gilroy-semiBold';
    font-size: 17px;
}
.product-unit,
.favorites-product-unit{
    padding-top: 2px;
    font-family: 'gilroy-regular';
    font-size: 11px;
    color: #ABABAB;
}
.heart-btn,
.favorites-heart-btn{
    font-size: 20px;
    color: var(--orange);
}
.back-btn{
    width: 24px;
    height: 24px;
}
.fill-basic-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 12px;
    font-family: 'gilroy-medium';
    font-size: 13px;
    color: white;
}
.basic-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--orange);
    border-radius: 12px;
    font-family: 'gilroy-medium';
    font-size: 13px;
    color: var(--orange);
}

.header{
    width: calc(100% - 24px);
    height: 51px;
    border-radius: 0 0 12px 12px;
    background-color: white;
    display: flex;
    padding-left: 24px;
    align-items: center;
    font-family: 'gilroy-semiBold';
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}