body{
    width: 288px;
    margin: 0 auto;
}
.logo-img{
    width: 58px;
    margin-left: calc((288px - 58px) / 2);
    margin-top: 42px;
}
.title{
    position: relative;
    font-size: 17px;
    margin-top: 90px;
    font-weight: 500;
    left: -10px;
}
.user-input{
    margin-top: 16px;
}
.confirm-pw-div{
    display: flex;
    align-items: center;
}
.eye-div{
    position: absolute;
    margin-top: 16px;
    margin-left: 251px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.login-btn{
    margin-top: 164px;
}