.title-div{
    text-align: center;
    margin-top: 112px;
}
.title{
    font-size: 14px;
    margin-bottom: 6px;
}
.user-div{
    width: 288px;
    margin: 0 auto;
    margin-top: 57px;
}
.input-box{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.setting-pw{
    margin-top: 8px;
    font-size: 10px;
    color: var(--orange);
    text-align: right;
    text-decoration: underline;
}
.login-btn{
    width: 304px;
    height: 56px;
    margin: 0 auto;
    margin-top: 175px;
}
.sm-signup-btn{
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    color: #9E9E9E;
    text-decoration: underline;
}