#map{
    width: 100vw;
    height: calc(100vh - 54px);
}

.input-box{
    position: absolute;
    z-index: 1;
    top: 46px;
    width: calc(100vw - 30px * 2);
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.find-icon{
    position: absolute;
    font-size: 24px;
    color: var(--orange);
    margin-left: 16px;
}

.input{
    width: 100%;
    padding-left: 50px;
    padding-right: 10px;
    height: 40px;
    border-radius: 61px;
    outline: none;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    font-family: 'gilroy-regular';
    font-size: 13px;
}

.overlay{
    padding: 9px 16px;
    border-radius: 32px;
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.08);
}

.overlay-farm-name{
    font-family: 'gilroy-semiBold';
    font-size: 13px;
    text-align: center;
}

.overlay-farm-info{
    width: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.overlay-farm-info *,
.overlay-sub-farm-info * {
    color: var(--orange);
    font-family: 'gilroy-medium';
    font-size: 10px;
    align-items: center;
}

.overlay-tar-box{
    display: flex;
    column-gap: 4px;
}

.sub-overlay{
    width: calc(141px - 4px - 8px);
    position: absolute;
    left: 30px;
    bottom: 50px;
    padding: 9px 4px 9px 8px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.08);
}

.hide-overlay{
    display: none;
}

.overlay-farm-title{
    display: flex;
    align-items: end;
    justify-content: space-between;
    column-gap: 25px;
    margin-bottom: 10px;
}

.overlay-sub-farm-info{
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.arrow-icon{
    transform: rotate(90deg);
    font-size: 24px;
}

.overlay-farm-img-box{
    width: calc(100% - 4px);
    height: 59px;
    border-radius: 8px;
    overflow: hidden;
}

.overlay-farm-img{
    width: 100%;
    height: 100%;
}

.list-map{
    position: absolute;
    width: 100vw;
    height: calc(100vh - 54px - 8px);
    padding-top: 8px;
    bottom: 54px;
    background-color: white;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s;
    overflow-y: scroll;
}

.hide-list{
    height: calc(32px - 8px);
    overflow-y: hidden;
}

.up-btn{
    width: 70px;
    height: 4px;
    background-color: #8A8A8A;
    border-radius: 20px;
    flex-shrink: 0;
}

.list-input{
    margin: 0;
}

.farm-list{
    width: calc(100% - 20px * 2);
    margin: 112px 0 45px 0;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    flex-shrink: 0;
}

.farm-img-box{
    position: relative;
    width: 100%;
    height: 210px;
}

.farm-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.heart{
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
    font-size: 24px;
}

.farm-title{
    margin-top: 12px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.overlay-star-box{
    display: flex;
    column-gap: 4px;
}

.star-rating{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.farm-name{
    font-family: 'gilroy-semiBold';
    font-size: 17px;
    color: black;
}

.star-rating > * {
    font-size: 15px;
    color: black;
}

.star{
    font-family: 'gilory-medium';
}

.farmer-name{
    font-family: 'gilroy-medium';
    font-size: 14px;
    color: #A9A9A9;
}

.farm-info{
    margin-top: 11px;
    display: flex;
    column-gap: 8px;
}

.farm-info > div{
    font-family: 'gilroy-medium';
    font-size: 12px;
    color: var(--orange);
}