.farm-back-img-div{
    width: 100%;
    height: 121px;
}
.farm-back-img{
    width: 100%;
    object-fit: cover;
}
.edit-back-img{
    position: absolute;
    z-index: 1;
    font-size: 24px;
    color: white;
    float: right;
    top: 8px;
    right: 24px;
}
.user-profile-img-div{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: 52px;
    z-index: 1;
}
.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-profile-info-div{
    position: absolute;
    width: 100%;
    top: 92px;
    height: calc(100% - 92px);
    background-color: var(--orange);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name-div{
    display: flex;
    margin: 50px 0 4px 0;
    align-items: baseline;
}
.user-name{
    position: relative;
    font-family: 'gilroy-semiBold';
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 17px;
    color: white;
}
.edit-user-name{
    font-size: 12px;
    color: white;
    margin-left: 20px;
}
.user-farm-name{
    font-family: 'gilroy-medium';
    font-size: 13px;
    color: white;
    border: 1px solid white;
    padding: 7px 8px;
    border-radius: 20px;
}
.user-info-box{
    width: calc(100vw - (49px * 2));
    display: grid;
    row-gap: 12px;
    margin-top: 16px;
}

.buy-product-box{
    background-color: white;
    height: 96px;
    border-radius: 12px;
}

.order-history-box{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 12px;
}

.name{
    font-family: 'gilroy-medium';
    font-size: 15px;
}

.move-btn{
    transform: rotate(90deg);
    font-size: 24px;
}

.border-bottom{
    border-bottom: 1px solid #D4D4D4;
}

.address-review-box{
    height: 50%;
    display: flex;
}

.address-review-box > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 12px;
}

.my-address-box{
    border-right: 1px solid #D4D4D4;
}

.user-ugly-percent-div{
	height: 112px;
	background-color: #FFD7B3;
	border-radius: 12px;
}

.ugly-percent-title{
	margin: 16px 0 0 20px;
	font-family: 'gilroy-semiBold':
	font-size: 17px;
}

.user-ugly-percent{
	float: right;
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 12px;
	right: 16px;
	top: 16px;
}

.ugly-percent{
	display: flex;
	column-gap: 2px;
}

.ugly-tomato{
	height: 40px;
}

.ugly-cnt{
	font-family: 'gilroy-semiBold';
	font-size: 24px;
}

.ugly-unit{
	font-weight: 700;
	font-size: 24px;
}

.about-product-box{
    height: calc(56px * 3);
    background-color: white;
    border-radius: 12px;
    padding: 0 16px;
}

.about-product-box > div{
    height: 56px;
    display: flex;
    align-items: center;
}

.logout-box{
    height: 56px;
    background-color: white;
    border-radius: 12px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logout-icon{
    font-size: 24px;
}

.logout-box > *{
    color: #CA5500;
}