body{
    width: 288px;
    margin: 0 auto;
}
.logo-img{
    width: 58px;
    margin-left: calc((288px - 58px) / 2);
    margin-top: 42px;
}
.title{
    position: relative;
    font-size: 17px;
    margin-top: 41px;
    font-weight: 500;
    left: -10px;
}
.email-input-div{
    margin-top: 16px;
    display: flex;
    height: 51px;
    align-items: center;
}
.email-input{
    width: 191px;
    padding-right: calc(288px - 191px);
}
.email-input-div button{
    position: absolute;
    z-index: 1;
    height: 22px;
    width: 87px;
    margin-left: 191px;
    font-size: 10px;
    background-color: white;
    border-radius: 4px;
    border: 0.5px solid var(--first-color);
    color: var(--font-color);
}
.email-comment{
    margin-top: 2px;
    font-size: 9px;
    margin-left: 10px;
}

.pw-div{
    margin-top: 12px;
    display: grid;
    row-gap: 12px;
}
.confirm-pw-div{
    display: flex;
    align-items: center;
}
.user-input{
    width: 231px;
    padding-right: 37px;
}
.eye-div{
    position: absolute;
    margin-left: 251px;
    font-size: 24px;
}
.phone-num-div{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 12px;
}
.select-country-div{
    position: relative;
    width: 83px;
    height: 48px;
    padding: 0;
    border-radius: 12px;
}
/* .select-country-div:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: lightcoral;
} */
.select-country-div .label {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    background: transparent;
    cursor: pointer;
  }
.select-country-div .optionList {
    position: absolute; 
    /* top: 28px; */
    left: 0;
    width: 100%;
    background: #F4F4F4;
    color: rgba(0, 0, 0, 0.87);
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}
.select-country-div .optionList::-webkit-scrollbar {width: 6px;}
.select-country-div .optionList::-webkit-scrollbar-track {background: transparent; }
.select-country-div .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.select-country-div .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

.select-country-div.active .optionList {
  max-height: 500px;
}

.select-country-div .optionItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #BEBEBE;
    padding: 5px 15px 5px;
    height: 38px;
    transition: .1s;
}
.select-country-div .optionItem:last-child {
  border-bottom: 0 none;
}
.select-country-div, .country-name, .country-num{
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align: center;
}
.phone-num-input{
    position: relative;
    height: 48px;
    width: calc(288px - 83px - 69px);
}
.arrow-icon{
    transform: rotate( 180deg );
}