body{
    width: 288px;
    margin: 0 auto;
}
.logo-img{
    width: 58px;
    margin-left: calc((288px - 58px) / 2);
    margin-top: 42px;
}
.title{
    position: relative;
    font-size: 17px;
    margin-top: 41px;
    font-weight: 500;
    left: -10px;
}
.email-input-div{
    margin-top: 16px;
    display: flex;
    height: 51px;
    align-items: center;
}
.email-input{
    width: 191px;
    padding-right: calc(288px - 191px);
}
.email-input-div button{
    position: absolute;
    z-index: 1;
    height: 22px;
    width: 87px;
    margin-left: 191px;
    font-size: 10px;
    background-color: white;
    border-radius: 4px;
    border: 0.5px solid var(--orange);
    color: var(--font-color);
}
.email-comment{
    margin-top: 2px;
    font-size: 9px;
    margin-left: 10px;
}

.pw-div{
    margin-top: 12px;
    display: grid;
    row-gap: 12px;
}
.user-input{
    width: 231px;
    padding-right: 37px;
}
.phone-num-div{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 12px;
}
.select-country-div{
    position: relative;
    width: 83px;
    height: 48px;
    padding: 0;
    border-radius: 12px;
}
.select-country-div .label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;    
    border-radius: 12px;
    background-color: #F4F4F4;
}
.select-country-div .blank-option{
    height: 8px;
}
.select-country-div .optionList {
    position: absolute; 
    top: 37px;
    left: 0;
    width: 100%;
    background: #F4F4F4;
    color: rgba(0, 0, 0, 0.87);
    list-style-type: none;
    padding: 0;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.select-country-div.active .optionList {
  max-height: 124px;
}
.line{
    width: 71px;
    background-color: #BEBEBE;
    margin-left: 6.5px;
    height: 1px;
    transform: scaleY(0.5);
}
.select-country-num{
    padding-left: 7px;
    width: calc(63px - 7px);
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
}
.select-country-div .optionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px 0 11px;
    height: 41px;
    transition: .1s;
}
.select-country-div .optionItem:last-child {
  border-bottom: 0 none;
}
.select-country-div, .country-name, .country-num{
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align: center;
    font-family: var(--input-font);
}
.country-name{
    font-size: 13px;
    color: #8B8B8B;
}
.country-num{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
}
.phone-num-input{
    position: relative;
    height: 48px;
    width: calc(288px - 83px - 69px);
}