body{
    width: 288px;
    margin: 0 auto;
}
.logo-img{
    width: 58px;
    margin-left: calc((288px - 58px) / 2);
    margin-top: 42px;
}
.title{
    position: relative;
    font-size: 17px;
    margin-top: 41px;
    font-weight: 500;
    left: -10px;
}
.email-input-div{
    margin-top: 16px;
    display: flex;
    height: 51px;
    align-items: center;
}
.email-input{
    width: 191px;
    padding-right: calc(288px - 191px);
}
.email-input-div button{
    position: absolute;
    z-index: 1;
    height: 22px;
    width: 87px;
    margin-left: 191px;
    font-size: 10px;
    background-color: white;
    border-radius: 4px;
    border: 0.5px solid var(--first-color);
    color: var(--font-color);
}
.email-comment{
    margin-top: 2px;
    font-size: 9px;
    margin-left: 10px;
}

.pw-div{
    margin-top: 12px;
    display: grid;
    row-gap: 12px;
}
.confirm-pw-div{
    display: flex;
    align-items: center;
}
.user-input{
    width: 231px;
    padding-right: 37px;
}
.eye-div{
    position: absolute;
    margin-left: 251px;
    font-size: 24px;
}
.select-country-div{
    /* padding: 0 0 0 10px; */
    /* position: absolute; */
    padding: 0;
    width: 83px;
    height: 48px;
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12); */
}
.country-options{
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    background-color: #9E9E9E;
}
.select-country-div, .country-name, .country-num{
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align: center;
}
.phone-num-div{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 12px;
}
.phone-num-input{
    height: 48px;
}