header{
    position: fixed;
    top: 0;
    width: calc(100% - 24px * 2);
    padding-left: 24px;
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.back-btn{
    transform: rotate(-90deg);
    font-size: 24px;
}
.upload-btn{
    width: 84px;
    height: 38px;
    background-color: var(--orange);
    border-radius: 8px;
    border: 0;
    font-family: 'gilroy-medium';
    font-size: 14px;
    color: white;
}
.upload-img-div{
    margin-top: 87px;
    margin-left: 24px;
    width: calc(100% - 24px);
    display: flex;
    column-gap: 8px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.upload-img-div::-webkit-scrollbar {
    display: none;
}
.upload-img{
    width: 70px;
    height: 72px;
    border: 1px solid var(--orange);
    border-radius: 8px;
    flex-shrink: 0;
}
.upload-img * {
    color: var(--orange);
}
.upload-img-btn{
    text-align: center;
}
.upload-img-icon{
    font-size: 24px;
    margin-top: 14px;
}
.upload-img-text{
    margin-top: 4px;
    font-family: 'gilroy-medium';
    font-size: 12px;
    display: flex;
    justify-content: center;
    column-gap: 2px;
}
.delete-img{
    float: right;
    margin: 8px;
}
.upload-img-li{
    background-size: cover;
    border: none;
    background-color: var(--orange-30);
}
.input-product-info-div{
    margin-top: 57px;
    margin-left: 24px;
    width: calc(100% - 24px * 2);
}
.input-div{
    margin-top: 54px;
}
.input-title{
    font-family: 'gilroy-semiBold';
    font-size: 15px;
    width: 100px;
    display: flex;
    align-items: baseline;
    column-gap: 2px;
    margin-bottom: 8px;
}
.product-input{
    border: none;
    background-color: #F4F4F4;
    height: 36px;
    outline: none;
    border-radius: 8px;
    width: calc(100% - 16px);
    padding-left: 16px;
    font-family: 'gilroy-medium';
    font-size: 13px;
}
.product-upload-category{
    width: 68px;
    height: 68px;
}
.input-title p{
    font-family: 'gilroy-semiBold';
    font-size: 9px;
}
.input-title > * {
    font-family: 'gilroy-semiBold';
    font-size: 15px;
}
.hashtag-title{
    column-gap: 10px;
}
.hashtag-box{
    display: flex;
    font-family: 'gilroy-medium';
    column-gap: 2px;
}

.current-hashtag,
.limit-hashtag{
    font-family: 'gilroy-semiBold';
    font-size: 15px;
}

.tagify{
    display: flex;
    flex-wrap: nowrap;
}
.hashtag-input{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: none;
    padding-left: 4.5px;
    overflow-y: scroll;
}
.hashtag-input {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.hashtag-input::-webkit-scrollbar {
    display: none;
}
.tagify__tag{
    border: 1px solid black;
    border-radius: 4px;
    margin-inline: 8px 0;
    height: 24px;
}

.tagify__tag-text{
    font-family: 'gilroy-medium';
    font-size: 13px;
    color: black;
}
.hashtag-input{
    --tag-bg                  : none;
    --tag-hover               : none;
    --tag-text-color          : black;
    --tags-border-color       : black;
    --tag-border-radius       : 4px;
    --tag-text-color--edit    : black;
    --tag-remove-bg           : none;
    --tag-remove-btn-color    : black;
    --tag-remove-btn-bg--hover: none;
  
    display: flex;
    min-width: 0;
    border: none;
}
.display-input-div{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.price-info-input-div{
    display: flex;
    column-gap: 13px;
    align-items: center;
}
.price-slash{
    font-size: 17px;
}
.price-info{
    display: flex;
    column-gap: 8px;
    align-items: baseline;
}
.price-input{
    width: 72px;
    padding: 0;
    text-align: center;
}
.phone-num-div{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 12px;
}
.select-unit-div{
    position: relative;
    width: 64px;
    height: 27px;
    padding: 0;
    border-radius: 8px;
}
.select-unit-div .label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;    
    border-radius: 8px;
    background-color: white;
}
.select-unit-div .blank-option{
    height: 8px;
}
.select-unit-div .optionList {
    position: absolute; 
    top: 18px;
    left: 0;
    width: 100%;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    list-style-type: none;
    padding: 0;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}

.select-unit-div.active .optionList {
  max-height: 124px;
}
.line{
    width: 56px;
    background-color: #919191;
    margin-left: 4px;
    height: 1px;
    transform: scaleY(0.5);
}
.select-unit-num{
    padding-left: 10px;
    width: calc(64px - 18px - 10px);
    text-align: center;
    font-size: 14px;
    font-family: 'gilroy-medium';
}
.select-unit-div .optionItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0 4px 0;
    height: 25px;
    transition: .1s;
    font-family: 'gilroy-medium';
    font-size: 14px;
}
.select-unit-div .optionItem:last-child {
  border-bottom: 0 none;
}
.description-div{
    margin-top: 114px;
    flex-direction: column;
    row-gap: 12px;
}
.description-input{
    width: calc(100% - 12px * 2);
    height: calc(200px - 12px * 2);
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #F4F4F4;
    outline: none;
    font-family: 'gilroy-regular';
    font-size: 15px;
    resize: none;
    margin-bottom: 54px;
}
